.formtainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
    margin-bottom: 7vh;
    /* margin-bottom: 100vh; */
    /* position: fixed; */

}

.butcont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}